<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/vendor/fontawesome/css/all.css">
    <link rel='stylesheet' href="/stylesheets/cssIndex.css">
    <link rel='stylesheet' href="/stylesheets/cssLogin.css">
    <link rel="shortcut icon" href="/images/background/icon.png"/>
    {{{_sections.css}}}
  </head>
  <body>

    <div class="container-fluid" style="background-color: #222">
      <div class="row">
          <div class="col-1"><a href="/"><img class="logoIndex" src="/images/background/logo.png"></a></div>
          <div class="col-8">
              <div class="menu">
                  <ul>
                      {{#each lcCategory}}
                          <li><a href="/find/{{catId}}/categories" style="text-transform: uppercase;">{{catName}}</a></li>
                      {{/each}}
                  </ul>
              </div>
          </div>
          <div class="col-3">
              <form class="formSearch">
                  <input type="text" name="search" id="inpSearch" placeholder="Search....">
                  <button type="submit"><i class="fas fa-search" style="font-size: 18px;"></i></button>
              </form>
          </div>
      </div>
  </div>

    {{{body}}}

    <div class="ender">
      <div class="container">
          <div class="row">
              <div class="col-4 ender-left">
                  <h5 class="mb-4">THÔNG TIN TRANG WEB:</h5>
                  <p>Đây là trang web cá nhân thực hiện nhằm mục đích luyện tập các nội dung cơ bản về lập trình ứng dụng web <b>không mang mục đích thương mại</b>.</p>
                  <p>Các thông tin dữ liệu trang web sử dụng đều được tham khảo từ trang web <b>bongda.com.vn</b> và cả phần giao diện đa phần cũng được tham khảo từ chính trang web <b>bongda.com.vn.</b></p>
              </div>
              <div class="col-4 ender-mid" style="border-left: solid 1px #dee2e6">
                  <h5 class="mb-4">LIÊN HỆ:</h5>
                  <p><i class="fas fa-map-marker-alt"></i> <b>Địa chỉ: </b>71 Xuân Hồng, quận Tân Bình, Tp.HCM</p>
                  <p><i class="fas fa-phone-alt"></i> <b>Điện thoại: </b>(81) 378 670 813</p>
                  <p><i class="fas fa-info"></i> <b>Quảng cáo: </b>tuandobolero@gmail.com</p>
                  <p><i class="far fa-envelope"></i> <b>Email: </b>tuando24101997@gmail.com</p>
                  <p><i class="far fa-paper-plane"></i> <b>Tòa soạn & Hỗ trợ: </b>(08) 3910-5018</p>
              </div>
              <div class="col-4 ender-right" style="border-left: solid 1px #dee2e6">
                  <h5 class="mb-4">TẢI APP TRÊN ĐIỆN THOẠI:</h5>
                  <div class="logo-app">
                      <a href="/account/login" class="logo-user"><i class="fas fa-user"></i></a>
                      <a href="https://www.facebook.com/TuanNhaGao" class="logo-facebook"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.youtube.com/channel/UCwrZ8VG4e_ZJ512CZsRa-QQ" class="logo-youtube"><i class="fab fa-youtube"></i></a>
                      <a href="#" class="logo-google"><i class="fab fa-google-plus-g"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <script type="text/javascript" src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
  </body>
</html>


