
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>Danh sách tìm kiếm</h2>
                <div class="group-card-Search mt-4">
                    {{#each this.loadPost}}
                    <div class="card mb-3" style="border: none;">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/images/news/{{postId}}/1.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-content-news-two">
                            <a href="/post/{{postId}}/categories" style="font-size: 25px;">{{postName}}</a>
                            <p>{{postDes}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-sm-12" style="display: flex; justify-content: center;">
                        <nav>
                            <ul class="pagination">
                            {{#if this.temPage}}
                                {{#each this.page_number}}
                                    {{#if isCurrent}}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                                        </li>
                                    {{else}}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            {{else}}
                            {{/if}}
                            
                            </ul>
                        </nav>
                    </div>
                </div>    
            </div>
            <div class="col-3 content-right">
                <a href="#"><img src="/images/background/quangcao0.png"></a>
                <a href="#"><img src="/images/background/quangcao1.png"></a>
            </div>			
        </div>
    </div>
</div>
 