<div class="container-fluid" style="background-color: #222">
    <div class="row">
        <div class="col-1"><a href="#"><img class="logoIndex" src="/images/background/logo.png"></a></div>
        <div class="col-8">
            <div class="menu">
                <ul>
                    {{#each this.loadCat}}
                        <li><a href="/find/categories/{{catId}}" style="text-transform: uppercase;">{{catName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-3">
            <form class="formSearch">
                <input type="text" name="search" id="inpSearch" placeholder="Search....">
                <button type="submit"><i class="fas fa-search" style="font-size: 18px;"></i></button>
            </form>
        </div>
    </div>
</div>



<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <!-- Start row small-->
                <div class="row">
                    <div class="col-4 content-left">
                        <div><p>TỌNG ĐỊT THÚI</p></div>
                        <div>
                            <table class="table table-striped" border="1">
                            {{#each this.loadHotNew}}
                                <tr>
                                    <td><a href="#">{{postName}}</a></td>	      
                                </tr>
                            {{/each}}
                            </table>
                        </div>	
                    </div>
                    <div class="col-8 content-mid">
                        {{#each this.loadNewFirst}}
                        <div class="card">
                            <a href="XemChiTiet.html"><img src="/images/news/{{postId}}/1.jpg" class="card-img-top" alt="Ảnh tiêu đề"></a>
                            <div class="card-body content-mid-big">
                            <a href="XemChiTiet.html">{{postName}}</a>
                            <p class="card-text">{{postDes}}</p>
                            </div>
                        </div>
                        {{/each}}
                        <div class="row mt-3">
                            {{#each this.loadNewSecond}}
                            <div class="col-4 mb-2">
                                <div class="card noidung">
                                    <a href="#"><img src="/images/news/{{postId}}/1.jpg" class="card-img-top img-content" alt="Ảnh tiêu đề"></a>
                                    <div class="card-body content-mid-small">
                                    <a href="#">{{postName}}</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>	
                    </div>
                </div> <!-- end row small-->

                <!-- image quảng cáo -->
                <div><img src="/images/background/quangcao3.png" style="width: 100%"></div>

                <div class="content-news mt-4">
                    <p>TIN HOT</p>
                </div>
                <div class="row card-content-news">
                    {{#each this.loadHot}}
                    <div class="col-6">
                        <div class="card mb-3" style="max-width: 540px; border: none;">
                            <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="images/news/{{postId}}/1.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-content-news-two">
                                <a href="#">{{postName}}</a>
                                </div>
                            </div>
                            </div>
                        </div>    
                    </div>
                    {{/each}}
                </div>

                <div class="content-news mt-4">
                    <p>BÓNG ĐÁ Ý</p>
                </div>
                <div class="news-transfer">
                    <div class="row">
                        {{#each this.loadSeriaFirst}}
                        <div class="col-6">
                            <div class="card" style="border: none;">
                                <a href="#"><img src="images/news/{{postId}}/1.jpg" class="card-img-top" alt="Ảnh tiêu đề"></a>
                                <div class="card-body content-big">
                                <a href="#">{{postName}}</a>
                                <p class="card-text">{{postDes}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        
                        <div class="col-6 card-news-transfer">
                            {{#each this.loadSeriaSecond}}
                            <div class="card mb-3" style="max-width: 540px; border: none;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="images/news/{{postId}}/1.jpg" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-content-news-two">
                                        <a href="#">{{postName}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>


                <div class="content-news mt-4">
                    <p>LỊCH THI ĐẤU BÓNG ĐÁ</p>
                </div>
                <div class="row lichthidau">
                    <div class="col-6">
                        <a href="#">
                            <div class="card bg-dark text-white card-lichthidau">
                                <img src="images/logo/ngoaihanganh.jpg" class="card-img" alt="...">
                            </div>
                        </a>	
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 mb-5">
                                <a href="#">
                                    <div class="card bg-dark text-white card-lichthidau">
                                        <img src="images/logo/league1.jpg" class="card-img" alt="...">								 
                                    </div>
                                </a>	
                            </div>
                            <div class="col-6 mb-5">
                                <a href="#">
                                    <div class="card bg-dark text-white card-lichthidau">
                                        <img src="images/logo/laliga.jpg" class="card-img" alt="...">
                                    </div>
                                </a>	
                            </div>
                            <div class="col-6">
                                <a href="#">
                                    <div class="card bg-dark text-white card-lichthidau">
                                        <img src="images/logo/bundesliga.jpg" class="card-img" alt="...">
                                    </div>
                                </a>	
                            </div>
                            <div class="col-6">
                                <a href="#">
                                    <div class="card bg-dark text-white card-lichthidau">
                                        <img src="images/logo/seria.jpg" class="card-img" alt="...">
                                    </div>
                                </a>	
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col-9 big -->
            <div class="col-3 content-right">
                <a href="#"><img src="/images/background/quangcao0.png"></a>
                <a href="#"><img src="/images/background/quangcao1.png"></a>
                <div class="quangcao">
                    <a href="#"><img src="/images/background/quangcao2.png"></a>
                    <a href="#"><img src="/images/background/quangcao4.png"></a>
                </div>		
            </div>			
        </div>
    </div>
</div>

<div class="ender">
    <div class="container">
        <div class="row">
            <div class="col-4 ender-left">
                <h5 class="mb-4">THÔNG TIN TRANG WEB:</h5>
                <p>Đây là trang web cá nhân thực hiện nhằm mục đích luyện tập các nội dung cơ bản về lập trình ứng dụng web <b>không mang mục đích thương mại</b>.</p>
                <p>Các thông tin dữ liệu trang web sử dụng đều được tham khảo từ trang web <b>bongda.com.vn</b> và cả phần giao diện đa phần cũng được tham khảo từ chính trang web <b>bongda.com.vn.</b></p>
            </div>
            <div class="col-4 ender-mid" style="border-left: solid 1px #dee2e6">
                <h5 class="mb-4">LIÊN HỆ:</h5>
                <p><i class="fas fa-map-marker-alt"></i> <b>Địa chỉ: </b>71 Xuân Hồng, quận Tân Bình, Tp.HCM</p>
                <p><i class="fas fa-phone-alt"></i> <b>Điện thoại: </b>(81) 378 670 813</p>
                <p><i class="fas fa-info"></i> <b>Quảng cáo: </b>tuandobolero@gmail.com</p>
                <p><i class="far fa-envelope"></i> <b>Email: </b>tuando24101997@gmail.com</p>
                <p><i class="far fa-paper-plane"></i> <b>Tòa soạn & Hỗ trợ: </b>(08) 3910-5018</p>
            </div>
            <div class="col-4 ender-right" style="border-left: solid 1px #dee2e6">
                <h5 class="mb-4">TẢI APP TRÊN ĐIỆN THOẠI:</h5>
                <div class="logo-app">
                    <a href="/account/login" class="logo-user"><i class="fas fa-user"></i></a>
                    <a href="https://www.facebook.com/TuanNhaGao" class="logo-facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/channel/UCwrZ8VG4e_ZJ512CZsRa-QQ" class="logo-youtube"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="logo-google"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>